body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/top-banner.png);
  margin: 0px;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}
.top-section {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top-section-portfolio-text {
  color: orange;
}

.top-section-left-div {
  width: 40%;
  box-sizing: border-box;
}
.top-section-right-div {
  width: 40%;
  box-sizing: border-box;
}
.top-section-left-div-button {
  padding: 10px 25px 10px 25px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 2px;
}
.top-section-left-div-button:hover {
  background-color: rgb(255, 136, 0);
  transition: 0.6ms;
}
.top-section-right-div img {
  width: 100%;
  height: 100%;
}
