body {
  font-family: "Poppins", sans-serif;

  margin: 0px;
}

h1 {
  font-size: 35px;
}

p{
    color: rgb(110, 109, 109);
    font-size: 15px;
}
.top-section {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.orange-highlight {
  color: orange;
}

.top-section-left-div {
  width: 40%;
 
}
.top-section-right-div {
  width: 40%;
  
}
.top-section-left-div-button {
  padding: 10px 25px 10px 25px;
  background-color: rgb(255, 115, 0);
  color: white;
  border: none;
  border-radius: 2px;
}
.top-section-left-div-button:hover {
  background-color: rgb(255, 136, 0);
  transition: 0.6ms;
}
.top-section-right-div img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .top-section {
    flex-direction: column;
    padding: 1%;
    align-items: center;
    justify-content: center;
  }
  .top-section-right-div {
    flex-basis: 50%;
  }
  .top-section-left-div {
    flex-basis: 50%;
    margin-bottom: 5px;
  }
  .top-section-right-div img {
    width: 100%;
  }
}

.middle-section {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.middle-section-left-div {
  width: 40%;
}
.middle-section-right-div {
  width: 40%;
}
.middle-section-left-div img {
  width: 100%;
}
.middle-section-right-div-button {
  padding: 10px 25px 10px 25px;
  background-color: rgb(255, 115, 0);
  color: white;
  border: none;
  border-radius: 2px;
}
.middle-section-right-div-button:hover {
  background-color: rgb(255, 136, 0);
  transition: 0.6ms;
}
.experience-section{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.experience-section-left-div{
    padding: 20px;
    width: 40%;
    height: 300px;
    box-shadow: 10px 10px 50px grey;
    border-left: 5px solid black;
    border-image: linear-gradient(45deg,tomato,rgb(255, 75, 75));
    border-image-slice: 1;
}
.experience-section-right-div{
    padding: 20px;
    width: 40%;
    height: 300px;
    box-shadow: 10px 10px 50px grey;
    border-left: 5px solid black;
    border-image: linear-gradient(45deg, cyan,blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
}